DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_PROXY_ALLOWED_HOSTS=127.0.0.1,localhost

DB_ENGINE=django.contrib.gis.db.backends.postgis
DB_NAME=edp_portal_gui
DB_USER=edp_gui_user
DB_PASSWORD=edp_gui_pass
DB_HOST=127.0.0.1
DB_PORT=5432

GEONETWORK_BASE_URL=http://10.8.244.64:8080/geonetwork
EDP_DISCOVERY_URL=http://localhost:8000/discovery/
DOI_URL=https://doi.org/10.48784/
OPENEO_URL=https://openeo.eurac.edu/collections/
DATA_CITE_API=https://api.datacite.org/dois/10.48784/
GEONETWORK_URL=https://edp-portal.eurac.edu/geonetwork/srv/api/records/
GEONETWORK_HARVEST_URL=http://edp-portal.eurac.edu/geonetwork/srv/eng/q?_content_type=json&summaryOnly=1
