{% extends "base.html" %}

{% block page_content %}

<head>

  <title>Discovery - EDP</title>
  <link rel="shortcut icon" href="/static/favicon.ico">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="../static/abstract_expand.js"></script> 

</head>

<div style="height: 50px; margin-top: 10px; width: 100%;" class="row">
  <div class="col">
    <a href="{% url 'edp_portal:main_page' %}"><img src="/static/Eurac_Research_logo.png" id="logo"></a>
  </div>
  <div class="col-6">
    <div style="width: 100%" class="center">
      <h2 id="title">Environmental Data Platform</h2>
    </div>      
  </div>
  <div class="col">
    
  </div>
</div>
<hr>
<div id="maploader" class='loader'></div>

<div id="discovery_main_section" class="" style="min-height: 90%;">

  <div id="discovery_main_row" class="min-height: 90%;">
    <div class="" style="float: left; width: 50%; height: 90%;">
      <div class="" style="height: 6%; padding: 5px;">

<div class="row">
   <script type="text/javascript">   
       $(function () {       
        var searchbar_keyword = "{{ title_list }}";        
          $("#searchbar").autocomplete({
              // source: "{% url 'edp_portal:discovery' %}",
              source: searchbar_keyword.split(","),
              minLength: 2,
              max: 10,
              scroll: true              
          });
      });   
  </script>
<script src="../static/search.js"></script>   
<div style="display: -webkit-inline-box;">
    <form id="formsearch" onsubmit="return dosearch();">
      <label for="search"></label>
      <input type="text" name="search" id="searchbar">
      <button id="searchbutton" type="submit" class="btn btn-outline-primary"><i class="fa fa-search"></i> Search</button>
    </form>
    <script src="../static/reset_search.js"></script>
    <script>
      $("#searchbar").prop("disabled",true);
      $("#searchbutton").prop("disabled",true);
    </script>
    <button id="resetbutton" type="submit" class="btn btn-outline-primary" style="margin-left: 40px;" onclick="reset_search()"><i class="fa fa-eraser"></i> Reset search</button>
  </div>
</div>
</div>
      <div style="padding: 5px;">
        <hr>
      </div>
      <div class="" style="min-height: 88%;">
        {% if metadata_list %}
        <h5 id="number_results" style="margin: 5px;"><i class="fa fa-list" aria-hidden="true"></i> Results: <b>{{ metadata_list|length }}</b> items found</h5>
        <div id="metadata_results" style="min-height: 85%;">
          
            {% for item in metadata_list %}

              <div id="row-{{item.uuid}}" class="row">
              <div class="col"> <div class="card" style="width: 55rem;">
                {% if item.thumbnail != None %}
                  <img src="{{item.thumbnail}}" class="card-img-top">
                {% else  %}
                  <!-- <img src="/static/no_image.png" class="card-img-top"> -->
                {% endif %}
              <div class="card-body">
              <a class="card-title" style="color: #DE4624; font-size: 20px;" href="/discovery/{{item.uuid}}" target="_blank">{{item.title}}</a>
              <div class="card-text abstract-results">{{item.abstract}}</div>
              <p class="card-text" style="font-weight: bold">{{item.category}}</p>
              <p class="card-text" style="font-size: 12px; font-style:italic;">{{item.keyword}}</p>
              </div>
              </div>
              </div>
              </div>
            {% endfor %}

          </div>

          {% else %}
              <p>No metadata sources are available.</p>
        {% endif %}

      </div>
    </div>
    <div class="" style="float: left; width: 50%;">
        <div id="map" ></div>      
        <script src="../static/map.js"></script>   
    </div>
  </div>
</div>

{% endblock %}