{% extends "base.html" %}

{% block page_content %}

<head>

  <title>Docs - EDP</title>
  <link rel="shortcut icon" href="/static/apple-touch-icon.png">


</head>

<div style="height: 50px; margin-top: 10px;" class="row">
  <div class="col">
    <a href="{% url 'edp_portal:main_page' %}"><img src="/static/Eurac_Research_logo.png" id="logo"></a>
  </div>
  <div class="col-6">
    <div style="width: 100%" class="center">
      <h1 id="title"><b>E</b>nvironmental <b>D</b>ata <b>P</b>latform</h1>
    </div>      
  </div>
  <div class="col">
    <a href="https://www.eurac.edu/en/institutes-centers/center-for-sensing-solutions/projects/dps4eslab" target="_blank" rel="noopener noreferrer"><img src="/static/fesr_dps4eslab_logo.png" id="fesr_logo"></a>

  </div>
</div>
<hr>

<div class="container" style="color: #666B6C;">
  <h3>Documentations list</h3>

  {% if latest_docs_sources_list %}
    <table class="table-clickable" style="width:100%; color: #666B6C;">
      <thead>
      <tr id="header_table">
        <th>#</th>
        <th id="name_column_table" class="width_column_table-2">Name</th>
        <th id="desc_column_table" class="width_column_table-1">Description</th>
        <!-- <th>Link</th> -->
        <th id="date_column_table" class="width_column_table-2">Date published</th>
        <th>Category</th>
      </tr>
    </thead>
      {% for source in latest_docs_sources_list %}
      <tbody>
        <tr id="rows_table" data-href="{{ source.source_link }}">
          <td>{{ forloop.counter }}</td>
          <td>{{ source.source_name }}</td>
          <td>{{ source.source_description }}</td>
          <!-- <td><a href="{{ source.source_link }}" target="_blank" rel="noopener noreferrer" style="color: #666B6C;">Link</a></td> -->
          <td>{{ source.pub_date }}</td>
          <td>{{ source.source_category }}</td>
        </tr>
          <!-- <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li> -->
      </tbody>
      {% endfor %}
    </table>
    {% else %}
        <p>No docs sources are available.</p>
  {% endif %}




</div>
<div id="footer">
  <div style="margin: 50px;" class="row">

        <!-- <h6>Info, Terms and Conditions</h6> -->
        <div style="margin: 0 auto;">
        <p style="color:#666B6C">© 2024 Eurac Research •
          <a href="https://cssportfolio.eurac.edu/" target="_blank" rel="noopener noreferrer" style="color:#666B6C">Center for Sensing Solutions portfolio 
          </a>•

          <a href="{% url 'edp_portal:terms_conditions_page' %}" target="_blank" rel="noopener noreferrer" style="color:#666B6C">Contacts, Terms and Conditions</a>

        </p>
      </div>

</div>
</div>


<script>
  const tableRows = document.querySelectorAll(".table-clickable tbody tr");

  for (const tableRow of tableRows) {
    tableRow.addEventListener("click", function () {
      //window.open(this.dataset.href, "_blank");
      //console.log(this.dataset.href);
      //window.location.href = this.dataset.href;
      window.open(this.dataset.href,'_blank','noopener', 'noreferrer');
    });
  }
</script>
{% endblock %}