@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
   }


/* Create three equal columns that floats next to each other */
.column-narrow {
  float: left;
  width: 20%;
  padding: 10px;
  /*height: 300px; /* Should be removed. Only for demonstration */
}

.column-large {
  float: left;
  width: 60%;
  padding: 10px;
  /*height: 300px; /* Should be removed. Only for demonstration */
}

/* Create three equal columns that floats next to each other */
.column-two {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Create three equal columns that floats next to each other */
.column-four {
  float: left;
  width: 25%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#title {
  text-align: center;
}

.main-button {
  width: 400px; 
  /*height: 130px;*/ 
  font-size: 40px;
}

.second-button {
  width: 245px; 
  /*height: 80px;*/
  font-size: 30px;
}

.main-button-row {
  top: 85px;
  position: relative;
}

.second-button-row {
  top: 35px;
  position: relative;
}

#discovery {
  background-color: lightgreen;
}

#documentation {
  background-color: tan;
}

#title {
  top: 15px;
  position: relative;
}

.center {
/*   margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  text-align: center;
}

#logo {
  width: 160px;
  margin-left: 10px;
}

.main_page_buttons {
  color: #DE4624;
  border-color: #DE4624;
}

.main_page_buttons:hover {
  color: #FFFFFF;
  border-color: #DE4624;
  background-color: #DE4624;
}

.main_page_buttons:focus {
  color: #FFFFFF;
  border-color: #DE4624;
  background-color: #DE4624;
  box-shadow: 0 0 0 0.2rem rgb(222 70 36 / 50%) !important;
}

.main_page_buttons:active {
  color: #FFFFFF !important;
  border-color: #DE4624 !important;
  background-color: #DE4624 !important;
}



/*#discovery_button {
  padding: 40px;
  padding: 40px 40px 40px 32px;

}

#docs_button {
  padding: 40px 40px 40px 18px;
}*/

#jupiter_button {
  padding: 20px;
}

#openeo_button {
  padding: 20px;
}

#pgadmin_button {
  padding: 20px;
}

#maps_button {
  padding: 20px;
}

#header {
  padding: 20px;
}

#footer {
  padding: 20px;
}

#main_section {
  /* background-image: url("Immagine4.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; */
}

#header_table {
  border-bottom: 1px solid #838b93;
}

#rows_table {
  border-bottom: 1px solid #cccdcc;
}

td {
  padding: 5px;
}

.width_column_table-1 {
  width: 40%;
}

.width_column_table-2 {
  width: 20%;
}

#map {
  width: 100%;
  height: 83%;
  z-index: 1;
}

#discover_main_section {
  padding: 10px
}

#discovery_main_row:after {
  content: "";
  display: table; 
  clear: both;
}

#searchbar {
  width: 600px;
  border-radius: 25px;
  border: 0.5px solid #DE4624;
  margin-left: 20px;
  height: 38px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#searchbar:focus {
  border: 1.5px solid #DE4624;
  margin-left: 20px;
}

#formsearch {
  /*margin: 0 auto;*/
  width: 100%;
}

.label_detail {
  font-weight: bold;
}


.snippet_code_div{
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 5px;
  height: auto;
  padding: 5px;
}

.snippet_label {
  font-weight: bold;
}


.copyTooltip_snippet{
  visibility: hidden;
  margin-left: 5px;
}

.copyButton_snippet:hover + .copyTooltip_snippet {
  visibility: visible;
  opacity: 1;
}

.copyButton_snippet {
  color: #DE4624;
  border: 1px solid #DE4624;
  background-color: white;
  border-radius: 15px;
}

.copyButton_snippet:hover {
  color: white;
  border: 1px solid #DE4624;
  background-color: #DE4624;
  border-radius: 15px;
}

#copyDiv{
  top: 7px;
  position: relative;
}

.abstract-results {
  height: 1.5rem;
  overflow: hidden;
}

.abstract-results:hover {
  cursor: pointer;
}

.expand {
  overflow: visible;
}

#metadata_results {
  height: 85%;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.card {
  margin: 10px;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.col {
  padding-right: 0px !important;
  padding-left: 0px !important; 
}

#geonetwork_link {
  text-decoration: none;
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border: 1px solid #007bff;
  border-radius: 15px;
  padding: 4px;
  position: relative;
  top: 5px;
}

#geonetwork_link:hover {
  text-decoration: none;
  color: white;
  background-color: #007bff;
  background-image: none;
  border: 1px solid #007bff;
}

.ui-autocomplete {
  height: 350px; 
  overflow-y: scroll; 
  overflow-x: hidden;
}

#searchbutton {
  color: #DE4624;
  border: 1px solid #DE4624;
  background-color: white;
  border-radius: 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-top: -4px;
}

#searchbutton:hover {
  color: white;
  border: 1px solid #DE4624;
  background-color: #DE4624;
  border-radius: 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-top: -4px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #DE4624;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#maploader {
  position: absolute;
  right: 21%;
  margin: 0 auto;
  top: 25%;
}

.card {
  flex-direction: row;
  align-items: center;
}
.card-title {
  font-weight: bold;
}
.card img {
  width: 30%;
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
}
@media only screen and (max-width: 768px) {
  a {
    display: none;
  }
  .card-body {
    padding: 0.5em 1.2em;
  }
  .card-body .card-text {
    margin: 0;
  }
  .card img {
    width: 50%;
  }
}
@media only screen and (max-width: 1200px) {
  .card img {
    width: 40%;
  }
}

#categories_div{
  /* overflow: scroll;
  overflow-x: hidden; */
  display: -webkit-inline-box;
}

.checkbox_categories {
  margin: 2px;
}


.nav-link.active {
  font-weight: bold;
}


textarea {
  z-index: -100;
  position: fixed;
}